
/* body, the flow of the overall website, using flex-direction to make it columns */
body{
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0 100px;
}


/* Create the header */

.header{
    background-color: #1f2937;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
  }
 
  .logo{
    font-size: 24px;
    font-family: monospace;
    font-weight: 900;
    color: #F9FAF8;


    justify-self: flex-start;
    align-items: center;
  }

  .links{
    font-family: monospace;
   
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
     }

a#page-link{
    color: #F9FAF8;
    text-decoration: none;
}

/* Header is looking good...well at least ok */

/* Start on hero(first actual section, guessing that what they call the hero) */

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    
    /* font-family: monospace;
    color: #F9FAF8; */
}


.left{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: monospace;
    /* font-weight: 900; */
    color: #F9FAF8;
}

.heading{
    align-items: flex-end;
    font-size: 24px;
    font-family: monospace;
    font-weight: 900;
    margin: 0;
}

.subject{
    max-width: 350px;
}


.button{
    background-color: #F9FAF8;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 25px;
    padding: 0;
  }
a{
    color: #1f2937;
    text-decoration: none;
    
}
img#code{
    flex: 1 2 0;
    max-width: 300px;
    height: auto;
    border-radius: 25px;
}

/* The hero section is basically done. Im getting pretty sleepy so i accepted it was good enough for now */

/* the info section begins here */








